.bar {
  margin: 1px;
  border-spacing: 5px;
  min-height: 10px;
}

.graph_number {
  text-align: right;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fix_graph_container {
    height: 300px;
    overflow-y: scroll;
    border-style: solid;
    border-width: 1px;
    border-color: #5e5e5e;
    padding-left: 10px;
}

.graph_header div {
  background: #5e5e5e;
  font-weight: bold;
  border: 1px;
  border-color: #5e5e5e;
  color: white;
}
