.splitSection {
  min-height: 10px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  background-color: blue;
}

.submit_btn {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
